<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado Liebre</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <!-- iconos -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/home-styles.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <header class="top-header">
    <section>
      <img width="200" src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
      <div class="top-header__input">
        <input type="text" placeholder="Buscar productos, marcas">
        <div class="icon-search">
          <i class="fas fa-search"></i> 
        </div>
        
      </div>
    </section>
    
    <p>
      <i class="fas fa-hand-holding-usd"></i>
      Compra en cuotas y sin tarjeta de credito
    </p>

    <nav class="navBar">
      <ul class="navBar-search">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>

      <ul class="navBar-login">
        <li>
          <a href="./register.html">Crea tu cuenta </a>
          <i class="far fa-id-card"></i>
        </li>
        <li>
          <a href="./login.html">Ingresa </a>
          <i class="fas fa-sign-in-alt"></i>
        </li>
        <li>
          <a href="">Mis compras </a>
          <i class="fas fa-shopping-basket"></i>
        </li>
      </ul>
    </nav>

    <div class="burger-menu">
      <i class="fas fa-bars"></i>
    </div>

  </header>
    <div class="home-banner">
      <img src="./images/img-home-banner.jpg" alt="">
    </div>

  <main>
      <header>
        <h2>Basado en tu ultima visita</h2>
      </header>


    <section>
      <article class="product">
        <img class="product--img" src="/images/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">

        <div class="product-description">
        <div class="camioncito">
          <i class="fas fa-truck"></i>
        </div>
        <ul class="product--prices">
          <li class="price-detail">$6.770</li>
          <li class="discount">40% OFF</li>
        </ul>
        <h3 class="product--name">Cafetera Moulinex</h3>  
        </div>
      </article>

      <article class="product">
        <img class="product--img" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">

        <div class="product-description">
          <div class="camioncito">
            <i class="fas fa-truck"></i>
          </div>
          <ul class="product--prices">
            <p class="price-detail">$230.000</p>
            <p class="discount">20% OFF</p>
          </ul>
          <h3 class="product--name">MacBook Pro 2019</h3>
        </div>

      </article>

      <article class="product">
        <img class="product--img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

        <div class="product-description">
          <div class="camioncito">
            <i class="fas fa-truck"></i>
          </div>
          <ul class="product--prices">
            <li class="price-detail">$70.500</li>
            <li class="discount">10% OFF</li>
          </ul>
          <h3 class="product--name">Samsung Galaxy S10</h3>
        </div>

      </article>

      <article class="product">
        <img class="product--img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">
        <div class="product-description">
          <div class="camioncito">
            <i class="fas fa-truck"></i>
          </div>

          <ul class="product--prices">
            <li class="price-detail">$23.200</li>
            <li class="discount">5% OFF</li>
          </ul>
          
          <h3 class="product--name">SmartTv Samsung 43"</h3>
        </div>
      </article>
    </section>

    
      <header>
        <h2>Ofertas</h2>
      </header>


    <section>  
      <article class="product">
        <img class="product--img" src="/images/img-cafetera-moulinex.jpg" alt="cafetera Moulinex">

        <div class="product-description">
          <div class="camioncito">
            <i class="fas fa-truck"></i>
          </div>

          <ul class="product--prices">
            <li class="price-detail">$6.770</li>
            <li class="discount">40% OFF</li>
          </ul>
          
          <h3 class="product--name">Cafetera Moulinex</h3>
        </div>
      </article>

      <article class="product">
        <img class="product--img" src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">

        <div class="product-description">
          <div class="camioncito">
            <i class="fas fa-truck"></i>
          </div>

          <ul class="product--prices">
            <li class="price-detail">$230.000</li>
            <li class="discount">20% OFF</li>
          </ul>
          
          <h3 class="product--name">MacBook Pro 2019</h3>
        </div>
      </article>

      <article class="product">
        <img class="product--img" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

        <div class="product-description">
          <div class="camioncito">
            <i class="fas fa-truck"></i>
          </div>

          <ul class="product--prices">
            <li class="price-detail">$70.500</li>
            <li class="discount">10% OFF</li>
          </ul>
          
          <h3 class="product--name">Samsung Galaxy S10</h3>
        </div>
      </article>

      <article class="product">
        <img class="product--img" src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43 pulgadas">

        <div class="product-description">
          <div class="camioncito">
            <i class="fas fa-truck"></i>
          </div>

          <ul class="product--prices">
            <li class="price-detail">$23.200</li>
            <li class="discount">5% OFF</li>
          </ul>
          
          <h3 class="product--name">SmartTv Samsung 43"</h3>
        </div>
      </article>
    </section>

  </main>

  <footer>
    
    <section>
      <article><div class="icon-footer">
        <i class="fas fa-credit-card"></i>
      </div>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
          seguro!</p>
      </article>

      

      <article><div class="icon-footer">
        <i class="fas fa-gift"></i>
      </div>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
          Mercado Puntos.</p>
      </article>

    

      <article> <div class="icon-footer">
        <i class="fas fa-user-shield"></i>
      </div>
        <h3>Seguridad, de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </p>
      </article>
      
    </section>
    

    <article>
      <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </article>

  </footer>
</body>

</html>