<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!-- iconos -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet" />
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/home-styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
      </head>
      
      <body>
        <header class="top-header">
          <section>
            <img width="200" src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre">
            <div class="top-header__input">
              <input type="text" placeholder="Buscar productos, marcas">
              <div class="icon-search">
                <i class="fas fa-search"></i> 
              </div>
              
            </div>
          </section>
          
          <p>
            <i class="fas fa-hand-holding-usd"></i>
            Compra en cuotas y sin tarjeta de credito
          </p>
      
          <nav class="navBar">
            <ul class="navBar-search">
              <li><a href="">Ofertas</a></li>
              <li><a href="">Tiendas Oficiales</a></li>
              <li><a href="">Vender</a></li>
              <li><a href="">Ayuda</a></li>
            </ul>
      
            <ul class="navBar-login">
              <li>
                <a href="./register.html">Crea tu cuenta </a>
                <i class="far fa-id-card"></i>
              </li>
              <li>
                <a href="./login.html">Ingresa </a>
                <i class="fas fa-sign-in-alt"></i>
              </li>
              <li>
                <a href="">Mis compras </a>
                <i class="fas fa-shopping-basket"></i>
              </li>
            </ul>
          </nav>
      
          <div class="burger-menu">
            <i class="fas fa-bars"></i>
          </div>
      
        </header>

    <!--Inicio del formulario-->
    <div class=register-form>
        <form action="/registro" method="POST">

            <li>
                <input class="campo_comp" type="text" id="usuario" name="usuario" placeholder="Usuario" autofocus>
            </li>
            <li>
                <input class="campo_comp" type="password" id="password" name="password" placeholder="Password">
            </li>
            <li class="link">
                <a href="/">Olvide mi password</a>
            </li>
            <li class="register-button">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </li>

                      
        </form>
    </div>

</body>
</html>