<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre - Registro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="/css/register-styles.css">
    <link rel="stylesheet" href="/css/home-styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header class="top-header">

        <section>
            <a href="/"><img width="200" src="/images/logo-mercado-liebre.svg" alt="logo de mercado liebre"></a>
            <input type="text">
        </section>

        <p>Compra en cuotas y sin tarjeta de credito</p>

        <nav class="navBar">
            <ul class="navBar-search">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="navBar-login">
                <li><a href="./register.html">Crea tu cuenta</a></li>
                <li><a href="./login.html">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>

    <!--Inicio del formulario-->
    <div class=register-form>
        <form action="/registro" method="POST">

            <li>
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre">
            </li>

            <li>
                <label for="appellido">Apellido</label>
                <input type="text" id="apellido" name="apellido">
            </li>

            <li>
                <label for="nacimiento">Fecha de nacimiento</label>
                <input type="date" id="nacimiento" name="nacimiento">
            </li>

            <li>
                <label for="domicilio">domicilio</label>
                <input type="text" id="domicilio" name="domicilio">
            </li>

            <li>
                <label for="perfil">Perfil de usuario</label>
                <label for="perfil">Comprador
                    <input name="perfil" id="perfil" type="radio" value="comprador" checked></label>
                <label for="perfil">Vendedor
                    <input name="perfil" id="perfil" type="radio" value="vendedor"></label>
            </li>

            <li>
                <label for="categoria">Categoria de interés</label>
                <label for="electro">Electro
                    <input name="categoria" id="electro" type="checkbox" value="electro"></label>
                <label for="moda">Moda
                    <input name="categoria" id="moda" type="checkbox" value="moda"></label>
                <label for="hogar">Hogar
                    <input name="categoria" id="hogar" type="checkbox" value="hogar"></label>
                <label for="jugueteria">Juguetería
                    <input name="categoria" id="jugueteria" type="checkbox" value="jugueteria"></label>
                <label for="vidaSana">Vida sana
                    <input name="categoria" id="vidaSana" type="checkbox" value="vidaSana"></label>
            </li>
            <li class="register-button">
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </li>
            

        </form>
    </div>

</body>

</html>